* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f2f2f2;
}

/* Estilos del header */
.header {
  background-color: #fff;
  padding: 20px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  /* Aplica espacio entre elementos */
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  margin-left: 7px;
}

.header__search {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 500px;
}

.header__search i {
  margin-right: 5px;
}

.search__input {
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  background-color: transparent;
}

.search__button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff3914;
  color: #fff;
  cursor: pointer;
}

.header__user a {
  margin-left: 10px;
}

/* Estilos del main-content */
.main-content {
  padding: 20px;
}

/* Estilos del footer */
.seccion__contenedor {
  display: flex;
  justify-content: space-evenly;
  padding-right: 50px;
}

.footer__contacto,
.footer__redes-sociales,
.footer__politica {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.seccion__contenedor h3 {
  margin-bottom: 6px;

}


.footer__copyright {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.footer__redes-sociales li,
.footer__politica li {
  list-style: none;
  margin-bottom: 10px;
}

.footer__redes-sociales a,
.footer__politica a {
  text-decoration: none;
  color: #333333;
  margin-bottom: 5px;
}

/* Estilo para el icono de Facebook */
.fa-facebook {
  color: #1877f2;
  /* Color original de Facebook */
}

/* Estilo para el icono de Twitter */
.fa-twitter {
  color: #1da1f2;
  /* Color original de Twitter */
}

/* Estilo para el icono de Instagram */
.fa-instagram {
  color: #c13584;
  /* Color original de Instagram */
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .header__search {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .header__user {
    margin-top: 10px;
  }

  .main-content {
    padding: 10px;
  }

  .footer__contacto,
  .footer__redes-sociales,
  .footer__politica {
    margin-bottom: 10px;
  }
}

/* Estilos para el contenedor principal */
.container__main {
  display: grid;
  width: 100%;
  margin: 0 auto;
  /* Centrar horizontalmente */
  max-width: 1270pxpx;
  /* Limitar el ancho máximo */
  grid-template-columns: 280px 4fr 1fr 3fr 3fr;
  grid-template-rows: 70px 70px 62px;
  grid-gap: 1rem;
  grid-template-areas:
    "sidebar info info info info"
    "sidebar cupones carousel carousel user"
    "sidebar cupones carousel carousel user"
    "sidebar cupones ofertas ofertas ofertas";
}

.info__item {
  grid-area: info;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 60px;
  justify-content: space-evenly;
  align-items: center;
}

.info__item span {
  align-items: center;
  display: flex;
}

.info__item i {
  font-size: 28px;
  margin-right: 15px;
  color: orangered;
}


/* Estilos para el sidebar */
.sidebar {
  grid-area: sidebar;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar__title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
  margin-left: 14px;
}

.sidebar__categories {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar__categories li {
  margin-bottom: 10px;
  position: relative;
}

.subcategorias {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  padding-left: 20px;
  margin: 5px 0;
}

.categoria:hover .subcategorias {
  max-height: 200px;
  transition: max-height 0.3s ease-in;
}

.subcategorias li {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  margin-top: 5px;
}

.subcategorias li:first-child {
  margin-top: 0;
}

.categoria:hover .subcategorias li {
  opacity: 1;
  margin-left: 15px;
}

.sidebar a {
  color: #000;
  text-decoration: none;
  transition: color 0.2s;
  font-size: 13px;
}

.sidebar a:hover {
  color: #007bff;
}

.categoria__link {
  padding-left: 15px;
  position: relative;
}

.categoria__link:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #007bff;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s;
}

.categoria:hover .categoria__link:before {
  opacity: 1;
}

/* Estilos para los elementos del contenido principal */
.cupones__item {
  grid-area: cupones;
  background-color: #ffff;
  border-radius: 10px;
  padding: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cont__cupones {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 14px 30px;
  background-image: linear-gradient(-45deg, #ffb174, #ff7295 48%, #f34c4c);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cont__cupones a {
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color .3s;
  color: #fff;
}

.cupone__mensaje {
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
  line-height: 39px;
  font-size: 25px;
  font-family: OpenSans-Bold;
  font-weight: 800;
}

.cupone__mensaje2 {
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 17px;
  font-family: OpenSans-Regular;
}

/* styles.css */
.cont__cupones {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ccupon {
  width: 300px;
  height: 300px;
  border-radius: 6px;
  padding: 4px;
  background: #fff;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.carousel__group {
  margin: 3px 3px;
  width: 100%;
}



.carousel {
  position: relative;
  grid-area: carousel;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 100%;
  height: 96%;
  overflow: hidden;
}

.carousel__item {
  flex: 0 0 100%;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel__item img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.ofertas__item {
  grid-area: ofertas;
  background-color: #ffff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.oferta__info {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  justify-content: space-between;
  width: 100%;
  height: 36px;
}

.oferta__link {
  display: flex;
  align-items: center;
  text-decoration: none !important;
}

.oferta__link a {
  text-decoration: none !important;

}

.oferta__link p {
  color: #999;
  font-size: 20px;
  margin: 0 10px;
  position: relative;
  top: 2px;
  font-family: arial;
}

.oferta__link img {
  height: 36px;
}

.ver-mas__enlace {
  display: block;
  float: right;
  font-size: 16px;
  color: #222;
  text-decoration: none;
}

.oferta img {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
}

.oferta_img_contenedor {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
  gap: 5px;
}

.oferta_item {
  display: flex;
  flex-direction: column;
  width: 174px;
  height: 215px;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.oferta_item a {
  margin: 0 auto;
  text-decoration: none !important;
}

.oferta_item img {
  width: 125px;
  height: 140px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.oferta_precio span {
  color: rgb(255, 0, 0);
}

.precio_oferta {
  font-size: 1.2em;
  font-weight: bold !important;
}


.user__item {
  grid-area: user;
  background-color: #ffff;
  border-radius: 10px;
  padding: 13px;
  height: 140px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user__saludo {
  cursor: pointer;
  font-size: 18px;
  height: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.user__links {
  display: flex;
  margin-top: 0px;
  justify-content: center;
  position: relative;
  top: 15px;
}

.user__links2 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 14px;
  margin: 0px auto;
  height: 50%;
  align-items: center;
}

.registrarse__link {
  display: flex;
  float: left;
  width: 51%;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  background-image: linear-gradient(270deg, #ff4441, #ff3914 45%, #ff6d2a);
  justify-content: center;
  margin-right: 15px;
}

.registrarse__link a {
  text-decoration: none;
  color: white;
}

.login__link {
  display: flex;
  float: left;
  width: 51%;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  background-color: #f2f2f2;
  justify-content: center;
}

.login__link a {
  color: #000;
  text-decoration: none;
}

.logout__link {
  display: flex;
  width: 50%;
  height: 80%;
  line-height: 38px;
  border-radius: 20px;
  background-color: #f2f2f2;
  justify-content: center;
}

.logout__link a {
  color: #000;
  text-decoration: none;
}

.contenedor-plus {
  width: 100%;
  background-color: #fff;
  margin-top: 20px;
  height: 320px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* Agregado para evitar que el contenido se desborde */
}

.plus-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* Aumentado el margen inferior para separar los elementos */
  justify-content: space-between;
  padding: 10px 20px;
  /* Ajustado el espaciado interior */
}

.oferta-link {
  display: flex;
  align-items: center;
  text-decoration: none !important;
  gap: 5px;
}

.oferta-link a {
  text-decoration: none !important;
}

.oferta-link p {
  position: relative;
  top: 2px;
  color: #999;
  font-size: 20px;
  margin: 0 10px;
  font-family: Arial, sans-serif;
  /* Corregido el nombre de la fuente */
}

.oferta-link img {
  height: 36px;
}

.plus-cont-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  padding: 0 32px;
}

.plus-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 25px;
  width: 173px;
  height: 240px;
}


.plus-item a {
  text-decoration: none !important;
}

.plus-item img {
  width: 136px;
  height: 152px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.plus-precio span {
  color: rgb(255, 0, 0);
}

.precio-plus {
  font-size: 1.2em;
  font-weight: bold !important;
}

/* Estilos para los productos en el mosaico */
.secound-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.secound-content__title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  font-size: 24px;
  color: #222;
  line-height: 32px;
  margin: 20px 0;
}

.secound-content__title-line {
  height: 1px;
  width: 123px;
  border-top: 1px solid hsla(0, 0%, 59.2%, .3);
}

.secound-content__title-text {
  margin: 0 18px;
  font-weight: 700;
}

.secound-content__mosaico-productos {
  width: 100%;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.secound-content__producto-card {
  width: 190px;
  background-color: #fff;
  overflow: hidden;
  height: 320px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  text-align: left;
}

.secound-content__producto__img {
  width: 100%;
  height: 60%;
}

.secound-content__producto__img img {
  width: 100%;
  height: 100%;
}

.producto-card h3 {
  margin-top: 10px;
}

.producto-card p {
  margin-top: 5px;
}