{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
{% block content %}
<div class="login">
  <div class="login__container">
    <div class="login__card">
      <div class="login__header">
        <h2 class="login__title">Iniciar sesión</h2>
      </div>
      <div class="login__body">
        <form method="post" class="login__form">
          {% csrf_token %}
          <div class="form-group">
            {{ form.username }}
          </div>
          <div class="form-group">
            {{ form.password }}
          </div>
          <div class="password_reset">
            <a href="" class="password_reset__link">¿Haz olvidado tu contraseña?</a>
          </div>
          {% if form.errors %}
          <p class="login__error">Usuario o contraseña incorrecto</p>
          {% endif %}
          <div class="cont__links">
            <a href="{% url 'signup' %}">Crear cuenta</a>
            <button class="boton_login" type="submit">
              Iniciar sesión
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
