{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

{% block content %}
<div class="login">
  <div class="login__container">
    <div class="login__card">
      <div class="login__header">
        <h2 class="login__title">Iniciar sesión</h2>
      </div>
      <div class="login__body">
        <form method="post" class="login__form">
          {% csrf_token %}
          <div class="login__form-group">
            {{ form.username.label_tag }} {{ form.username }}
          </div>
          <div class="login__form-group">
            {{ form.password.label_tag }} {{ form.password }}
          </div>
          {% if form.errors %}
          <p class="login__error">Usuario o contraseña incorrecto</p>
          {% endif %}
          <button class="login__submit-btn btn btn-primary btn-block">
            Iniciar sesión
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
