{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container__main">
  <div class="sidebar">
    <h3 class="sidebar__title">Categorías</h3>
    <ul class="sidebar__categories">
      {% for categoria in categorias %}
      <li class="categoria">
        <a href="#" class="categoria__link">{{ categoria.nombre }}</a>
        <ul class="subcategorias">
          {% for subcategoria in categoria.subcategorias.all %}
          <li>
            <a href="#" class="subcategoria__link">{{ subcategoria.nombre }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="info__item">
    <span><i class="fas fa-shield-alt"></i> Pagos seguros y fiable</span>
    <span><i class="fas fa-sack-dollar"></i> Garantía de reembolso</span>
    <span
      ><i class="fas fa-headset"></i> Servicio de atención al cliente 24/7</span
    >
  </div>
  <div class="cupones__item">
    <div class="cont__cupones">
      <a href="">
        <div class="cupone__mensaje">Tu guía de compra favorita</div>
        <div class="cupone__mensaje2">Descubre las últimas novedades</div>
      </a>
      <section class="ccupon">
        <div class="carousel-1"></div>
        <div class="carousel__group">
          <div class="image-container">
            <img
              src="{% static 'img/Novedades/imagen1.jpg' %}"
              alt="Imagen 1"
              class="novedad-image"
            />
          </div>
          <div class="image-container">
            <img
              src="{% static 'img/Novedades/imagen2.jpg' %}"
              alt="Imagen 2"
              class="novedad-image"
            />
          </div>
          <div class="image-container">
            <img
              src="{% static 'img/Novedades/imagen3.jpg' %}"
              alt="Imagen 3"
              class="novedad-image"
            />
          </div>
          <div class="image-container">
            <img
              src="{% static 'img/Novedades/imagen4.jpg' %}"
              alt="Imagen 4"
              class="novedad-image"
            />
          </div>
          <div class="image-container">
            <img
              src="{% static 'img/Novedades/imagen5.jpg' %}"
              alt="Imagen 5"
              class="novedad-image"
            />
          </div>
          <div class="image-container">
            <img
              src="{% static 'img/Novedades/imagen6.jpg' %}"
              alt="Imagen 6"
              class="novedad-image"
            />
          </div>
          <div class="image-container">
            <img
              src="{% static 'img/Novedades/imagen7.jpg' %}"
              alt="Imagen 7"
              class="novedad-image"
            />
          </div>
          <div class="image-container">
            <img
              src="{% static 'img/Novedades/imagen8.jpg' %}"
              alt="Imagen 8"
              class="novedad-image"
            />
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="carousel">
    <div class="carousel__item">
      <img
        src="{% static 'img/Carousel/imagen1.jpg' %}"
        alt="Imagen 1"
        class="carousel__image"
      />
      <img
        src="{% static 'img/Carousel/imagen2.jpg' %}"
        alt="Imagen 2"
        class="carousel__image"
      />
      <img
        src="{% static 'img/Carousel/imagen3.jpg' %}"
        alt="Imagen 3"
        class="carousel__image"
      />
    </div>
  </div>

  <div class="ofertas__item">
    <div class="oferta__info">
      <a href="#" class="oferta__link">
        <img
          src="https://ae01.alicdn.com/kf/S12d218f2404348e4986aad8f45e62b7dO/471x96.png_.webp"
          alt=""
          class="oferta__imagen"
        />
        <p class="oferta__descripcion">Productos top a precios increíbles</p>
      </a>
      <div class="ver-mas">
        <a href="{% url 'lista_ofertas' %}" class="ver-mas__enlace">Ver más</a>
      </div>
    </div>
    <div class="oferta_img_contenedor">
      {% for oferta in productos_en_oferta %}
      <div class="oferta_item">
        <a href="{% url 'detalle-producto' oferta.pk %}">
          <div>
            <img src="{{ oferta.imagen.url }}" alt="{{ oferta.descripcion }}" />
          </div>
          <div class="oferta_precio">
            <div class="precio_oferta">
              <span class="precio_original">COP: {{ oferta.precio_original_formateado }}</span>
              <span class="precio_descuento"> COP: {{ oferta.precio_con_descuento_formateado }}</span>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>    
  </div>
  <div class="user__item">
    <div class="user__saludo">
      <span>Bienvenid@ a ShopExpress</span>
    </div>
    {% if user.is_authenticated %}
    <div class="user__links">
      <div class="logout__link">
        <a href="{% url 'logout' %}" class="user__logout">Cerrar Sesión</a>
      </div>
      {% else %}
      <div class="user__links2">
        <div class="registrarse__link">
          <a href="{% url 'signup' %}" class="user__register">Registrarse</a>
        </div>
        <div class="login__link">
          <a href="{% url 'login' %}" class="user__login">Iniciar Sesión</a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="contenedor-plus">
  <div class="plus-info">
    <a href="#" class="oferta-link">
      <img
        src="https://ae01.alicdn.com/kf/S78bebe84e585478e84daa0770c4c4e63B/157x96.png_.webp"
        alt="Oferta"
        class="oferta-imagen"
      />
      <p class="oferta-descripcion">
        Hasta -50% de descuento · Envíos en 72 horas
      </p>
    </a>
    <div class="ver-mas">
      <a href="#" class="ver-mas__enlace">Ver más</a>
    </div>
  </div>
  <div class="plus-cont-img">
    {% for plus in productos_plus %}
    <div class="plus-item">
      <a href="{% url 'detalle-producto' plus.pk %}">
        <div>
          <img src="{{ plus.imagen.url }}" alt="{{ plus.descripcion }}" />
        </div>
        <div class="precio_oferta">
          <span class="precio_original">COP: {{ plus.precio_original_formateado }}</span>
          <span class="precio_descuento">COP: {{ plus.precio_con_descuento_formateado }}</span>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  
  </div>
</div>

<div class="secound-content">
  <h2 class="secound-content__title">
    <div class="secound-content__title-line"></div>
    <div class="secound-content__title-text">Seguro te gustará</div>
    <div class="secound-content__title-line"></div>
  </h2>
  <div class="secound-content__mosaico-productos">
    {% for producto in productos %}
    <div class="secound-content__producto-card">
      <div class="secound-content__producto__img">
        <a href="{% url 'detalle-producto' producto.pk%}">
          <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" />
        </a>
      </div>
      <div class="secound-content-info">
        <h3 class="secound-content__producto-nombre">{{ producto.nombre }}</h3>
        <p class="secound-content__producto-precio">
          Precio: {{ producto.precio_original_formateado }}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
