{% extends "base.html" %}

{% block content %}
  <h1>Productos en Oferta</h1>
  <ul>
    {% for producto in productos_en_oferta %}
      <li>
        <h2>{{ producto.nombre }}</h2>
        <p>Descripción: {{ producto.descripcion }}</p>
        <p>Precio: ${{ producto.precio }}</p>
        <p>Stock Disponible: {{ producto.stock }}</p>
        <!-- Agrega aquí más detalles del producto si es necesario -->
      </li>
    {% empty %}
      <p>No hay productos en oferta en este momento.</p>
    {% endfor %}
  </ul>
{% endblock %}
