{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container__main">
  <div class="sidebar">
    <h3 class="sidebar__title">Categorías</h3>
    <ul class="sidebar__categories">
      {% for categoria in categorias %}
      <li class="categoria">
        <a href="#" class="categoria__link">{{ categoria.nombre }}</a>
        <ul class="subcategorias">
          {% for subcategoria in categoria.subcategorias.all %}
          <li>
            <a href="#" class="subcategoria__link">{{ subcategoria.nombre }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="info__item">
    <span><i class="fas fa-shield-alt"></i> Pagos seguros y fiable</span>
    <span><i class="fas fa-sack-dollar"></i> Garantía de reembolso</span>
    <span
      ><i class="fas fa-headset"></i> Servicio de atención al cliente 24/7</span
    >
  </div>
  <div class="cupones__item">
    <div class="cont__cupones">
      <a href="">
        <div class="cupone__mensaje">Tu guía de compra favorita</div>
        <div class="cupone__mensaje2">Descubre las últimas novedades</div>
      </a>
      <section class="ccupon">
        <div class="carousel-1">
        </div>
        <div class="carousel__group">
          <img
            src="{% static 'img/Novedades/imagen1.jpg' %}"
            alt="Imagen 1"
            class="imagen1"
          />
          <img
            src="{% static 'img/Novedades/imagen2.jpg' %}"
            alt="Imagen 2"
            class="imagen2"
          />
          <img
            src="{% static 'img/Novedades/imagen3.jpg' %}"
            alt="Imagen 3"
            class="imagen3"
          />
          <img
            src="{% static 'img/Novedades/imagen4.jpg' %}"
            alt="Imagen 4"
            class="imagen4"
          />
          <img
            src="{% static 'img/Novedades/imagen5.jpg' %}"
            alt="Imagen 1"
            class="imagen1"
          />
          <img
            src="{% static 'img/Novedades/imagen6.jpg' %}"
            alt="Imagen 2"
            class="imagen2"
          />
          <img
            src="{% static 'img/Novedades/imagen7.jpg' %}"
            alt="Imagen 3"
            class="imagen3"
          />
          <img
            src="{% static 'img/Novedades/imagen8.jpg' %}"
            alt="Imagen 4"
            class="imagen4"
          />
        </div>
        <div class="carousel__group">
          <img
            src="{% static 'img/Novedades/imagen1.jpg' %}"
            alt="Imagen 1"
            class="imagen1"
          />
          <img
            src="{% static 'img/Novedades/imagen2.jpg' %}"
            alt="Imagen 2"
            class="imagen2"
          />
          <img
            src="{% static 'img/Novedades/imagen3.jpg' %}"
            alt="Imagen 3"
            class="imagen3"
          />
          <img
            src="{% static 'img/Novedades/imagen4.jpg' %}"
            alt="Imagen 4"
            class="imagen4"
          />
          <img
            src="{% static 'img/Novedades/imagen5.jpg' %}"
            alt="Imagen 1"
            class="imagen1"
          />
          <img
            src="{% static 'img/Novedades/imagen6.jpg' %}"
            alt="Imagen 2"
            class="imagen2"
          />
          <img
            src="{% static 'img/Novedades/imagen7.jpg' %}"
            alt="Imagen 3"
            class="imagen3"
          />
          <img
            src="{% static 'img/Novedades/imagen8.jpg' %}"
            alt="Imagen 4"
            class="imagen4"
          />
        </div>
      </section>
    </div>
  </div>
  <div class="carousel">
    <div class="carousel__item">
        <img src="{% static 'img/Carousel/imagen1.jpg' %}" alt="Imagen 1" class="carousel__image" />
        <img src="{% static 'img/Carousel/imagen2.jpg' %}" alt="Imagen 2" class="carousel__image" />
        <img src="{% static 'img/Carousel/imagen3.jpg' %}" alt="Imagen 3" class="carousel__image" />
    </div>
</div>

  <div class="ofertas__item">
    <div class="direction">
      <div class="oferta__info"></div>
      <div class="oferta__img"></div>
    </div>
  </div>
  <div class="user__item">
    <div class="user__saludo">
      <span>Bienvenid@ a ShopExpress</span>
    </div>
    {% if user.is_authenticated %}
    <div class="user__links">
      <div class="logout__link">
        <a href="{% url 'logout' %}" class="user__logout">Cerrar Sesión</a>
      </div>
      {% else %}
      <div class="user__links2">
        <div class="registrarse__link">
          <a href="{% url 'signup' %}" class="user__register">Registrarse</a>
        </div>
        <div class="login__link">
          <a href="{% url 'login' %}" class="user__login">Iniciar Sesión</a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="main-content">
  <div class="mosaico-productos">
    {% for producto in productos %}
    <div class="producto-card">
      <a href="{% url 'detalle-producto' producto.slug %}">
        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" />
      </a>
      <h3>{{ producto.nombre }}</h3>
      <p>Precio: ${{ producto.precio }}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
