{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

  <nav class="navbar navbar--dark">
    <a class="navbar__brand" href="#">
      <img src="{% static 'img/logo.jpeg' %}" width="120" alt="Logo">
    </a>
    <button class="navbar__toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar__toggler-icon"></span>
    </button>
    <div class="collapse navbar__collapse" id="navbarNav">
      <ul class="navbar__nav navbar__nav--right">
        <li class="nav__item nav__item--active">
          <a class="nav__link" href="{% url 'lista-productos' %}">Inicio</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Productos</a>
        </li>
      </ul>
      <form class="form--inline form--inline--right">
        <input class="form__control form__control--search" type="search" placeholder="Buscar">
        <button class="btn btn--outline btn--outline-light" type="submit">Buscar</button>
      </form>
      <ul class="navbar__nav navbar__nav--right">
        {% if user.is_authenticated %}
        <li class="nav__item">
          <a class="nav__link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav__item">
          <a class="nav__link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="{% url 'signup' %}">Registro</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <main class="container main--pt-4 main--pb-5">
    {% block content %}
    {% endblock %}
  </main>

</body>

</html>
